<div class="footer">

  <div class="footer-logo">
    <a class="no-style" href="/">
      <img src="/images/icon_orange.png" alt="orange icon" width="40px" height="40px">
    </a>
  </div>
  <div class="footer-info">
    <a class="no-style">
      Contact Info: <br>
      San Francisco State University <br>
      (123) 456-7890 <br>
      <a class="no-style" href="mailto:scholareats@gmail.com">scholareats@gmail.com</a>
    </a>
  </div>

  <div class="footer-links">
    <a class="no-style" href="/contact_us">Contact Us</a>

    <a class="no-style" href="/">About</a>

    <a class="no-style" href="/privacy_policy">Privacy Policy and Terms of Service</a>
  </div>

  <div class="social-icons">
    <a class="no-style" href="https://www.linkedin.com/company/scholareats/">
      <img src="/images/LI-In-Bug.png" alt="LinkedIn icon" width="60px" height="51px">
    </button>

    <a class="no-style" href="https://www.facebook.com/profile.php?id=61562266171877">
      <img src="/images/Facebook_Logo_Secondary.png" alt="Facebook icon" width="50px" height="50px">
    </a>

    <a class="no-style" href="https://x.com/ScholarEats">
      <img src="/images/logo-white.png" alt="X icon" width="50px" height="50px">
    </a>
  </div>
</div>
