<style>
  .header {
    display: grid;
    flex-direction: row;
    position: absolute;
    grid-template-columns: repeat(8, 1fr);
  }
</style>
<div class="header">
  <div>Home</div>
  <div>Recipes</div>
  <div>Ingredients</div>
  <div>About</div>
  <div>Contact Us</div>
  <div>Spacer</div>
  <div>Notifications</div>
  <div>sign in/up</div>
</div>