<!-- To change between light and dark mode -->
<link rel="stylesheet" id="modeStyleSheetLink" href="/css/{{mode}}.css">
<h4>Color Scheme:</h4>
<select id="modeSelect">
    <option value="{{mode}}">Light Mode</option>
    <option value="darkmode">Dark Mode</option>
</select>