<div class="navbar">
  <a href="/">
    <img src="/images/icon_orange.png" alt="orange icon" width="50px" height="50px">
  </a>
  <a href="/recipes">Recipes</a>
  <a href="/ingredients">Ingredients</a>

  <a href="/">About</a>
  <a href="/">Contact Us</a>
  <a class="unfinished_button">Notifications</button>
  <a href="/login">sign in/up</a>
  <div class="search">
    <form action='/' id="searchform" method='POST'>
      <input type='text' class="searchbar" name="searchInput">
      <input type='submit' class="submitbutton" value='Search'>
      <div class="dropdown">
        <button type="button" id="dropbtn" class="dropbtn">Filter</button>
        <div id="dropdown-content" class="dropdown-content">
          <p><input type="checkbox" class="checkbox" name="filter1">filter1</p>
          <p><input type="checkbox" class="checkbox" name="filter2">filter2</p>
          <p><input type="checkbox" class="checkbox" name="filter3">filter3</p>
        </div>
      </div>
    </form>
  </div>
  <div class="content_warning" id="content_warning">test</div>
</div>