<div class="navbar">
  <a href="/">
    <img src="/images/icon_orange.png" alt="orange icon" width="50px" height="50px">
  </a>
  <a href="/recipes">Recipes</a>
  <a href="/ingredients">Ingredients</a>
  <a href="/">About</a>
  <a href="/">Contact Us</a>
  <a class="unfinished_button">Notifications</a>
  <a href="/login">sign in/up</a>
  <div class="search">
    <form action='/' id="searchform" method='GET'>
      <input type='text' class="searchbar" id="autocomplete-input" name="searchInput">
      <input type='submit' class="submitbutton" value='Search'>
      <div class="dropdown">
        <button type="button" name="filter_option" class="dropbtn">Filter</button>
        <div id="filter_option" class="dropdown_content">
          {{#each filter_option}}
          <p><input type="checkbox" class="checkbox" name="{{this}}">{{this}}</p>
          {{/each}}
        </div>
      </div>
    </form>
  </div>
  <div id="autocomplete-suggestions" class="autocomplete-suggestions"></div>
  <div class="content_warning" id="content_warning">test</div>
</div>