<div class="profilebadge">
    Welcome
    <div class="dropdown-content">
        <script src="/js/logout.js"></script>
        <a href="/">Account</a>
        <button id="logout-button">Logout</button>
    </div>
</div>


