<div class="profilebadge">
  <div class="text">Welcome</div>
  <div>
    <div class="dropdown_content">
      <script src="/js/logout.js"></script>
      <a href="/accountManagement">Account</a>
      {{#if isAdmin}}
      <a href="/adminTools">Admin Tools</a>
      {{/if}}
      <button id="logout-button">Logout</button>
    </div>
  </div>
</div>