<div class="spacer"></div>
<div class="page">
  {{>navbar}}
  <div class="container">
    <header>About {{fName}}</header>
    <img src={{src}} alt={{alt}}>
    <p>
      {{desc}}
    </p>
  </div>
  {{>footer}}
</div>
<div class="spacer"></div>