<div class="leftSpacer"></div>
{{>navbar}}
<header>About {{fName}}</header>
<div class="container">
  <img src={{src}} alt={{alt}}>
  <p>
    {{desc}}
  </p>
</div>
{{>footer}}
<div class="rightSpacer"></div>