<div id="leftSpacer"></div>
{{>header}}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="container">
  <div class="login-form-container">
    <header>Admin Login</header>
    <form class="login-form" action="/index" method="POST" id="login-form" onsubmit="return validateForm()">
      <input type="text" name="username" id="username" placeholder="Username" required pattern=".{5,}"
        title="Username must be at least 5 characters long">
      <input type="password" name="password" id="password" placeholder="Password" required pattern=".{8,}"
        title="Password must be at least 8 characters long">
      <label>
        <input type="checkbox" id="remember_me" name="remember_me"> Remember me
      </label>
      <div class="g-recaptcha" data-sitekey="6LcfLhsqAAAAAKJOOzs_wZ1YiNxJf2wfJtlLwuFP"></div>
      <input type="submit" id="login-submit" value="Login">
      <div id="error-message" class="error-message"></div>
      <a href="/forgotpassword">Forgot Username/Password</a>
    </form>
  </div>
</div>
{{>footer}}
<div id="rightSpacer"></div>
<script src="/js/login.js"></script>

<script>
  function validateForm() {
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;
    var errorMessage = document.getElementById("error-message");

    errorMessage.textContent = "";

    if (username === "" || password === "") {
      errorMessage.textContent = "Username and Password must be filled out";
      return false;
    }

    // Add more complex validation if needed

    return true;
  }
</script>
</body>

</html>