<div class="leftSpacer"></div>
{{>header}}
<div class="container">
  <div class="forgot-password-form-container">
    <form class="forgot-password-form" action="/forgot-password" method="POST"
      onsubmit="return validateForgotPasswordForm()">
      <input type="email" name="email" id="email" placeholder="Enter your email" required
        title="Please enter a valid email address">
      <input type="submit" id="forgot-username-submit" value="Forgot Username">
      <input type="submit" id="forgot-password-submit" value="Forgot Password">
      <div id="forgot-password-error-message" class="error-message"></div>
      <a href="/login">Back to Login</a>
    </form>
  </div>
</div>
{{>footer}}
<div class="rightSpacer"></div>

<script>
  function validateForgotPasswordForm() {
    var email = document.getElementById("email").value;
    var errorMessage = document.getElementById("forgot-password-error-message");

    errorMessage.textContent = "";

    if (email === "") {
      errorMessage.textContent = "Email must be filled out";
      return false;
    }

    // Add more complex validation if needed

    return true;
  }
</script>