<div class="spacer"></div>
<div class="container">
{{>header}}
<header>Team's About Page</header>
    <a href="/angelo">
        <img src="images/angelo.jpg" alt="angelo.jpg" width="150" height="150">
        <div>Team Lead: Angelo Arriaga</div></a>
    <a href="/donovan">
        <img src="images/donovan.jpg" alt="donovan.jpg" width="150" height="150">
        <div>Frontend Lead: Donovan Taylor</div></a>
    <a href="/hancun">
        <img src="images/hancun.jpg" alt="hancun.jpg" width="150" height="150">
        <div>Frontend: Hancun Guo</div></a>
    <a href="/edward">
        <img src="images/edward.jpg" alt="edward.jpg" width="150" height="150">
        <div>Backend Lead: Edward Mcdonald</div></a>
    <a href="/karl">
        <img src="images/karl.jpg" alt="karl.jpg" width="150" height="150">
        <div>Backend: Karl Carsola</div></a>
    <a href="/sai">
        <img src="images/sai.jpg" alt="sai.jpg" width="150" height="150">
        <div>Database: Sai Bavisetti</div></a>
    <a href="/maeve">
        <img src="images/maeve.jpg" alt="maeve.jpg" width="150" height="150">
        <div>Docs-Editor: Maeve Fitzpatrick</div></a>
    <a href="/sabrina">
        <img src="images/sabrina.jpg" alt="sabrina.jpg" width="150" height="150">
        <div>GitHub Master: Sabrina Diaz-Erazo</div></a>
</div>
<div class="spacer"></div>
