<div class="spacer"></div>
<div class="page">
  {{>navbar}}
  <header>{{header}}</header>
  <div class="container">
    <a href="/about/angelo">
      <img src="images/angelo.jpg" alt="angelo.jpg" width="150" height="150">
      <div>Team Lead: Angelo Arriaga</div>
    </a>
    <a href="/about/donovan">
      <img src="images/donovan.jpg" alt="donovan.jpg" width="150" height="150">
      <div>Frontend Lead: Donovan Taylor</div>
    </a>
    <a href="/about/hancun">
      <img src="images/hancun.jpg" alt="hancun.jpg" width="150" height="150">
      <div>Frontend: Hancun Guo</div>
    </a>
    <a href="/about/edward">
      <img src="images/edward.jpg" alt="edward.jpg" width="150" height="150">
      <div>Backend Lead: Edward Mcdonald</div>
    </a>
    <a href="/about/karl">
      <img src="images/karl.jpg" alt="karl.jpg" width="150" height="150">
      <div>Backend: Karl Carsola</div>
    </a>
    <a href="about/sai">
      <img src="images/sai.jpg" alt="sai.jpg" width="150" height="150">
      <div>Database: Sai Bavisetti</div>
    </a>
    <a href="/about/maeve">
      <img src="images/maeve.jpg" alt="maeve.jpg" width="150" height="150">
      <div>Docs-Editor: Maeve Fitzpatrick</div>
    </a>
    <a href="/about/sabrina">
      <img src="images/sabrina.jpg" alt="sabrina.jpg" width="150" height="150">
      <div>GitHub Master: Sabrina Diaz-Erazo</div>
    </a>
    <a href="/about/tina">
      <img src="images/tina.jpg" alt="tina.jpg" width="150" height="150">
      <div>Frontend: Tina</div>
    </a>
  </div>
{{>footer}}
</div>
<div class="spacer"></div>