<div class="leftSpacer"></div>
{{>navbar}}
<header>Ingredients {{fName}}</header>
<div class="container">
  {{#each ingredient}}
  {{>partial_ingredient this}}
  {{/each}}
</div>
{{>footer}}
<div class="rightSpacer"></div>