<div id="leftSpacer"></div>
{{>header}}
<div class="container">
  <div class="landing-page">
    <header class="landing-header">Welcome to ScholarEats!</header>
    
    <section class="content-section">
      <div class="recipes-section">
        <h2 class="section-title">Featured Recipes</h2>
        <div class="grid-container">
          <div class="recipe">
            <img src="recipe_image_1.jpg" alt="Recipe 1" class="recipe-image">
            <h3 class="recipe-title">Recipe 1</h3>
            <p class="recipe-description">Description of Recipe 1</p>
          </div>
          <div class="recipe">
            <img src="recipe_image_2.jpg" alt="Recipe 2" class="recipe-image">
            <h3 class="recipe-title">Recipe 2</h3>
            <p class="recipe-description">Description of Recipe 2</p>
          </div>
          <div class="recipe">
            <img src="recipe_image_3.jpg" alt="Recipe 3" class="recipe-image">
            <h3 class="recipe-title">Recipe 3</h3>
            <p class="recipe-description">Description of Recipe 3</p>
          </div>
        </div>
      </div>

      <div class="ingredients-section">
        <h2 class="section-title">Featured Ingredients</h2>
        <div class="grid-container">
          <div class="ingredient">
            <img src="ingredient_image_1.jpg" alt="Ingredient 1" class="ingredient-image">
            <h3 class="ingredient-title">Ingredient 1</h3>
            <p class="ingredient-description">Description of Ingredient 1</p>
          </div>
          <div class="ingredient">
            <img src="ingredient_image_2.jpg" alt="Ingredient 2" class="ingredient-image">
            <h3 class="ingredient-title">Ingredient 2</h3>
            <p class="ingredient-description">Description of Ingredient 2</p>
          </div>
          <div class="ingredient">
            <img src="ingredient_image_3.jpg" alt="Ingredient 3" class="ingredient-image">
            <h3 class="ingredient-title">Ingredient 3</h3>
            <p class="ingredient-description">Description of Ingredient 3</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{{>footer}}
<div id="rightSpacer"></div>
<script src="/js/landing.js"></script>