<div class="spacer"></div>
<div class="page">
    {{>navbar}}
    <div class="container">
      <header>Login</header>
      <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
        <a href="/register">Register</a>
        <a href="/">Forgot Password</a>
        <a href="/">Forgot Username</a>
        <a class="unfinished_button">Admin Login</a>
      </form>
    </div>
    {{>footer}}
</div>
<div class="spacer"></div>