<div class="spacer"></div>
<div class="page">
  {{>navbar}}
  <div class="container">
    <header>Recipes {{fName}}</header>
    {{#if recipe}}
      {{#each recipe}}
        {{>partial_recipe this}}
      {{/each}}
    {{else}}
      <p>No recipes available.</p>
    {{/if}}
  </div>
  {{>footer}}
</div>
<div class="spacer"></div>