<div class="leftSpacer"></div>
{{>navbar}}
<header>Recipes</header>
<div class="container">
  {{#if recipe}}
  {{#each recipe}}
  {{>partial_recipe this}}
  {{/each}}
  {{else}}
  <p>No recipes available.</p>
  {{/if}}
</div>
{{>footer}}
<div class="rightSpacer"></div>