<div class="leftSpacer"></div>
{{>header}}
<div class="container">

  <div class="refinedSearch">
    <h1>Refined Search</h1>
    <form action="/recipes" id="refinedSearch" method="get">
      <p><input type="checkbox" class="refinedSearchOption" name="option1">Option1</p>
      <p><input type="checkbox" class="refinedSearchOption" name="option2">Option2</p>
      <p><input type="checkbox" class="refinedSearchOption" name="option3">Option3</p>
      <p><input type="checkbox" class="refinedSearchOption" name="option4">Option4</p>
      <input type="submit" class="submitbutton" value="Apply Filters">
    </form>
  </div>
  <div class="recipes">
    {{#if recipe}}
    {{#each recipe}}
    {{>partial_recipe this}}
    {{/each}}
    {{else}}
    <p>No recipes available.</p>
    {{/if}}
  </div>
</div>
{{>footer}}
<div class="rightSpacer"></div>