<div class="leftSpacer"></div>
{{>header}}
<div class="container">
  <form action="/register" method="POST" id="register-form">
    <input type="text" name="username" placeholder="Username" id="username">
    <input type="text" name="email" placeholder="Email" id="email">
    <input type="password" name="password" placeholder="Password" id="password">
    <input type="password" name="verify_password" placeholder="Verify Password" id="verify-password">
    <div class="privacypolicytos">
      <input class="no-style" type="checkbox" name="privacypolicytos" id="privacypolicytos" required> I accept the <a
        class="no-style" href="/privacy_policy">Privacy Policy</a> and <a class="no-style"
        href="/termsofservice">Terms of Service</a>
    </div>
    <input type="submit" value="Register">
  </form>
</div>
<script src="/js/register.js"></script>
{{>footer}}
<div class="rightSpacer"></div>