<div class="leftSpacer"></div>
{{>header}}
<div class="container">
  <div class="forgot-password-form-container">
     <div id="alert-message"></div>
     <div id="message"></div>
    <form class="forgot-password-form" id="reset-password-form" method="POST"
      onsubmit="return validateForgotPasswordForm()">
    <input type="text" name="code" id="code" placeholder="Enter your Code" required
        title="Please enter a valid email address">
    <input type="password" name="code" id="newPassword" placeholder="Enter your New Password" required pattern=".{8,}"
        title="Password must be at least 8 characters long">
    <input type="password" name="code" id="confirmNewPassword" placeholder="Confirm your New Password" required pattern=".{8,}"
        title="Password must be at least 8 characters long">
      <input type="submit" id="reset-password-submit">
      <div id="forgot-password-error-message" class="error-message"></div>
      <a href="/login">Back to Login</a>
    </form>
  </div>
  <div id="alert-message"></div>
</div>
{{>footer}}
<div class="rightSpacer"></div>
<script src="/js/resetPassword.js"></script>
<script>
  function validateForgotPasswordForm() {
    var email = document.getElementById("code").value;
    var errorMessage = document.getElementById("forgot-password-error-message");

    errorMessage.textContent = "";

    if (email === "") {
      errorMessage.textContent = "Code must be filled out";
      return false;
    }

    // Add more complex validation if needed

    return true;
  }
</script>