body {
  background-color:darkslategray;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  font-size: 2em;
  margin-top: 20px;
}

.container > img {
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

p {
  max-width: 600px;
  text-align: center;
  font-size: 1.2em;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 4fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: auto;
  height: 75px;
}

.navbar > a {
  display: grid;
  text-decoration: none;
  font-size: 1.2em;
  color: orange;
  border: 1px solid orange;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  align-content: center;
  justify-content: center;
}
.navbar > div {
  display: grid;
  width: 100%;
  align-content: center;
}

.searchbar {
  border-style: solid;
  border-color: orange;
  border-radius: 5px;
  height: 25px;
  width: 100%;
}

form {
  display: grid;
  grid-template-columns: 5fr 1fr;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.submitbutton {
  font-size: medium;
  color: orange;
  border-style: solid;
  border-color: orange;
  background-color: darkslategray;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  height: 31px;
  margin-left: 10px;
}


.submitbutton:hover {
  background-color: orange;
  color: white;
}