
  
  .password-fields {
    display: flex;
    gap: 10px;
  }
  
  .unfinished_button {
    margin-top: 10px;
  }
  
  h3 {
    margin-bottom: 10px;
  }
  
  .container input,
  .container select,
  .container textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .container button {
    padding: 10px 20px;
    background-color: #4c8baf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .container button:hover {
    background-color: #45a049;
  }
  