body {
  display: grid;
  grid-template-areas:
  "leftSpacer  header   rightSpacer"
  "leftSpacer container rightSpacer"
  "leftSpacer  footer   rightSpacer";
  grid-template-columns: 1fr 3fr 1fr;
  font-family: Arial, sans-serif;
  background-color: darkslategray;
}

#leftSpacer {
  grid-area: leftSpacer;
}

#rightSpacer {
  grid-area: rightSpacer;
}

header {
  grid-area: header;
  display: block;
}

h1 {
  color: orange;
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  align-items: start;
  gap: 20px;
  padding: 20px;
}

.footer span {
  display: inline;
  position: relative;
}

.footer-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  margin: 25px;
}

.footer-info {
  text-align: left;
}

.footer-links {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  margin: 25px;
}

a:not(.no-style) {
  display: grid;
  text-decoration: none;
  font-size: 1.3em;
  color: orange;
  border: 1px solid orange;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;

}

a span {
  display: inline-block;
  position: relative;
}

a>div {
  padding-left: 40px;
  padding-top: 40px;
}

.navbar {
  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.navbar>a,
.navbar .profilebadge {
  display: block;
  text-decoration: none;
  color: orange;
  border: 1px solid orange;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
  align-content: center;
  text-align: center;
}

.profilebadge .text {
  font-size: 1.3em;
  height: 100%;
  align-content: center;
}

.profilebadge .dropdown_content {
  position: absolute;
}

.profilebadge:hover .dropdown_content {

  display: block;
}

.navbar>.search {

  display: flex;
  flex-direction: column;
  grid-column: 2/7;
  padding-top: 5px;
}

.navbar form {
  display: flex;
}

.searchbar {
  border-style: solid;
  border-color: orange;
  border-radius: 30px;
  height: 32px;
  font-size: 1.3em;
  width: 100%;
  border: 1px solid orange;
}

.autocomplete-suggestions {
  display: none;
  position: absolute;
  color: orange;
  background-color: darkslategray;
  border-radius: 5px;
  box-shadow: 0px 5px 10px black;
}

.autocomplete-suggestions div:hover {
  cursor: pointer;
  background-color: orange;
  color: white;
  transition: background-color 0.15s, color 0.15s;
}

.submitbutton,
.dropbtn {
  font-size: 1.3em;
  color: orange;
  border: 1px solid orange;
  background-color: darkslategray;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 30px;
  height: 36px;
}

.dropbtn {
  margin-left: 0px;
  border: 1px solid orange;
}

.submitbutton:hover,
.dropbtn:hover {
  background-color: orange;
  color: white;
  cursor: pointer;
}

.dropdown {
  position: relative;
  align-self: center;
}

.dropdown_content {
  z-index: 1;
  display: none;
  background: darkslategray;
  box-shadow: 0px 5px 10px black;
  position: absolute;
  color: orange;
  border-radius: 5px;
  width: 100px;
  padding: 0px;
}

.dropdown_content>p {
  margin: 5px;
  display: flex;
  flex-direction: row;
}

[type=checkbox], [type=radio] {
  transform: scale(1.5);
  margin-right: 8px;
}

.dropdown_option {
  border-radius: 30px;
}

.dropdown_option:hover {
  cursor: pointer;
}

#content_warning {
  display: none;
  border: 1px solid red;
  background: darkred;
  grid-row: 3/3;
  grid-column: 1/8;
  color: red;
  width: 100%;
  text-align: center;
}

a:hover:not(.no-style) {
  background-color: orange;
  color: white;
}

.container {
  display: grid;
  grid-area: container;
}

.aboutContents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
}

.aboutContents>a {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
}

img {
  object-fit: cover;
  border-radius: 5px;
}

.dropdown_content {
  background-color: darkslategray;
  display: none;

  position: absolute;
  width: 200px;
  overflow: auto;
  box-shadow: 0px 8px 10px 0px black;
}

.show {
  display: block;
}

.no-style {
  color: orange;
  text-decoration: none;
  border: none;
  border-radius: none;
}