body {
  display: grid;
  grid-template-areas:
  "header  header   header"
  "leftSpacer container rightSpacer"
  "footer  footer   footer";
  grid-template-columns: 1fr 3fr 1fr;
  margin: 0px;
  font-family: Arial, sans-serif;
  background-color: darkslategrey;
}


#leftSpacer {
  grid-area: leftSpacer;
  background-color: rgb(73, 113, 113);
  
}


#rightSpacer {
  grid-area: rightSpacer;
  background-color: rgb(73, 113, 113);
}


header {
  grid-area: header;
  display: block;
  border-radius: 10px;
  padding-top: 1%;
  padding-left: 20%;
  padding-right: 20%;
  
}

h1 {
  color: orange;
}

h4 {
  color: orange;
}

select {
  width: fit-content;
  height: fit-content;
}

h4, select {
  display: inline-block;
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  align-items: start;
  gap: 20px;
  padding-top: 1%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 1%;
  border-radius: 10px;
}

.footer span {
  display: inline;
  position: relative;
}

.footer-logo {
  display: flex;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  margin: 25px;
}

.footer-info {
  text-align: left;
  display: flex;
  align-items: center;
}

.footer-links {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  margin: 25px;
}

a:not(.no-style) {
  display: grid;
  text-decoration: none;
  font-size: 1.3em;
  color: orange;
  border: 1px solid orange;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;

}

a span {
  display: inline-block;
  position: relative;
}

a>div {
  padding-left: 40px;
  padding-top: 40px;
}

.navbar {
  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.navbar a,
.navbar .profilebadge {
  display: block;
  text-decoration: none;
  color: orange;
  border: 1px solid orange;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  align-content: center;
  text-align: center;
}

a img {
  object-fit:cover;
}

.profilebadge .text {
  font-size: 1.3em;
  height: 100%;
  align-content: center;
}

.profilebadge .dropdown_content {
  position: absolute;
}

.profilebadge:hover .dropdown_content {

  display: block;
}

.navbar>.search {

  display: flex;
  flex-direction: column;
  grid-column: 2/7;
  padding-top: 5px;
}

.navbar form {
  gap: 20px;
  display: flex;
}

.searchbar {
  border-style: solid;
  border-color: orange;
  border-radius: 5px;
  height: 32px;
  font-size: 1.3em;
  width: 100%;
  border: 1px solid orange;
  padding-left: 5px;
}

.autocomplete-suggestions {
  display: none;
  position: absolute;
  color: orange;
  background-color: darkslategray;
  border-radius: 5px;
  box-shadow: 0px 5px 10px black;

}

.navbar .autocomplete-suggestion {
  text-align: left;
  padding-left: 5px;
}

.autocomplete-suggestions div:hover {
  cursor: pointer;
  background-color: orange;
  color: white;
  transition: background-color 0.15s, color 0.15s;
}

.submitbutton,
.dropbtn {
  font-size: 1.3em;
  color: orange;
  border: 1px solid orange;
  background-color: darkslategray;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  height: 36px;
}

.applyfiltersbutton {
  font-size: 1.3em;
  color: orange;
  border: 1px solid orange;
  background-color: rgb(73, 113, 113);
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  height: 36px;
}

.dropbtn {
  margin-left: 0px;
  border: 1px solid orange;
}

.submitbutton:hover,
.dropbtn:hover {
  background-color: orange;
  color: white;
  cursor: pointer;
}

.dropdown {
  position: relative;
  align-self: center;
}

.dropdown_content {
  z-index: 1;
  display: none;
  background: darkslategray;
  box-shadow: 0px 5px 10px black;
  position: absolute;
  color: orange;
  border-radius: 5px;
  width: 100px;
  padding: 0px;
}

.dropdown_content>p {
  margin: 5px;
  display: flex;
  flex-direction: row;
}

[type=checkbox], [type=radio] {
  transform: scale(1.5);
  margin-right: 8px;
}

.dropdown_option {
  border-radius: 5px;
}

.dropdown_option:hover {
  cursor: pointer;
}

#content_warning {
  display: none;
  border: 1px solid red;
  background: darkred;
  grid-row: 3/3;
  grid-column: 1/8;
  color: red;
  width: 100%;
  text-align: center;
}

a:hover:not(.no-style) {
  background-color: orange;
  color: white;
}

.container {
  display: grid;
  grid-area: container;
  background-color: rgb(73, 113, 113);

}

.aboutContents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
}

.aboutContents>a {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
}

img {
  object-fit: cover;
  border-radius: 5px;
}

.dropdown_content {
  background-color: darkslategray;
  display: none;

  position: absolute;
  width: 200px;
  overflow: auto;
  box-shadow: 0px 8px 10px 0px black;
}

.show {
  display: block;
}

.no-style {
  color: orange;
  text-decoration: none;
  border: none;
  border-radius: none;
}

#alert-message {
  color: rgb(255, 41, 41);
  margin-top: 25px;
}

#message {
  font-size: 16px;
  background-color: #ff5e00;
  color: green;
  
}

.hidden {
  display: none;
}


@media screen and (min-width: 344px) and (max-width: 500px){
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  #leftSpacer {
   display: none;
  }
  #rightSpacer {
    display: none;
  }

  header{
    display: flex;
    justify-content: center;
    align-items: center;
   padding-left: 2%;
   padding-right: 2%;
    width: 100%;
    flex-direction: column;
  }

  footer{
    padding: 0%;
    margin: 0;
  }

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

  }
  .navbar {
    grid-area: nav;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap:10px;
    padding: 2px;

  }

  .navbar a {
    width: 100%;
    display: block;
    text-align: center;

  }
  .navbar .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 
  }
  .navbar form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  } 
  .aboutContents {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .aboutContents > a {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

}

@media screen and (min-width: 501px) and (max-width: 1025px){
  * {
    box-sizing: border-box;
    max-width: 100%;
  }
  body {
    display: grid;
    grid-template-areas: 
    "header"
    "container"
    "footer";
    grid-template-columns: 1fr;
    justify-items: center;
  }
  #leftSpacer {
   display: none;
  }
  #rightSpacer {
    display: none;
  }
}