.container {
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  border: 1px solid #ddd;
}

.ingredient {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;

}

.ingredient img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 20px;
}

.ingredient div {
  flex-grow: 1;
}