  .container {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .landing-page {
    width: 80%;
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .landing-header {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: darkorange;
  }
  
  .content-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .section-title {
    font-size: 1.5em;
    color: green;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .recipe, .ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid orange;
  }
  
  .recipe-image, .ingredient-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .recipe-title, .ingredient-title {
    font-size: 1.2em;
    color: darkorange;
  }
  
  .recipe-description, .ingredient-description {
    text-align: center;
    color: #333;
  }
  
  .leftSpacer, .rightSpacer {
    flex: 1;
  }
  
  .recipes-section, .ingredients-section {
    width: 48%;
  }
  