  
  
  .landing-page {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    min-height: 600px;
  }
  
  .landing-header {
    text-align: center;
    font-size: 3em;
    color: orange;
  }
  
  .content-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
  
  .section-title {
    font-size: 1.5em;
    color: darkslategray;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .recipe, .ingredient {
    display: flex;
    color: orange;
    width: 200px;
    height: 300px;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid orange;
    transition: background-color 0.3s, color 0.3s ;
  }

  a.recipe:hover h3 {
    transition: background-color 0.3s, color 0.3s ;
    color: white;
  }
  
  .recipe-image, .ingredient-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .recipes-section, .ingredients-section {
    padding: 5px;

  }
  
  .recipe-title {
    color: orange;
    margin-top: 5px;
  }

  .ingredient-title {
    font-size: 1.3em;
  }
  
  .recipe-description, .ingredient-description {
    text-align: center;
    color: #333;
  }
  