  
  
  .landing-page {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    min-height: 800px;
  }
  
  h1#blurb{
    text-align: center;
    font-size: 2.5em;
    color: orange;
    -webkit-text-stroke-color: darkslategray;
    -webkit-text-stroke-width: 1.2px;
  }

  h2#subBlurb {
    text-align: center;
  }

  img#bannerLogo {
    width: 100%;
  }
  
  .content-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
  
  .section-title {
    font-size: 1.5em;
    color: darkslategray;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .recipe, .ingredient {
    display: grid;
    color: orange;
    width: 200px;
    max-height: 280px;
    align-items: center;
    background-color: lightgray;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid orange;
    transition: background-color 0.3s, color 0.3s ;
  }

  a.recipe:hover h3 {
    transition: background-color 0.3s, color 0.3s ;
    color: white;
  }
  
  .recipe-image, .ingredient-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .recipes-section, .ingredients-section {
    padding: 5px;

  }
  
  .recipe-title {
    color: orange;
    margin-top: 5px;
  }

  .ingredient-title {
    font-size: 1.3em;
  }
  
  .recipe-description, .ingredient-description {
    text-align: center;
    color: #333;
  }
  