

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
  "rS recipes";
  background-color: darkslategray;
}

.refinedSearch {
  grid-area: rS;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-right: 50px;
}

.recipes{
  grid-area: recipes;
  display:grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
}

.recipe {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;

}

.recipe img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 20px;
}

.recipe div {
  flex-grow: 1;
}