

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
  "searchmsg searchmsg"
  "rS recipes";
}

.searchmsg {
  grid-area: searchmsg;
}

.refinedSearch {
  grid-area: rS;
  border: 2px solid orange;
  border-radius: 5px;
  padding: 10px;
  margin-right: 50px;
}

.recipes{
  border-radius: 5px;
  grid-area: recipes;
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.recipe {
  display: grid;
  grid-template-areas:
  "recipeImg recipeName"
  "recipeImg recipeDesc";
  border: 1px solid;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;

}

.recipeImage {
  grid-area: recipeImg;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 20px;
}

.recipeName {
  grid-area: recipeName;
}

.recipeDesc {
  grid-area: recipeDesc;
}